body {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}

hr {
    border: 1px solid #000;
    width: 50%;
}

#board {
    width: 600px;
    height: 600px;

    background-color: white;
    border: black 4px solid;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

#message {
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
}

.square {
    width: 190px;
    height: 190px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    font-weight: bold;
    background-color: white;
    border: black 5px solid;
}

.squareX {
    background-color: white;
    color: black;
}

.squareO {
    background-color: white;
    color: black;
}